/*------------------------------------------------------*/
/*-- Fixed Top Intro Bar with Background --*/
#bg1{
/*    background: url(../images/brush.png);
*/    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
}

.topBar {
    text-align:center; 
    position:relative;
    width: 100%;
}

.topBar .inner{
    background: gray;
    min-height:130px;
    position: relative;
    width: 100%;
}

.topBar .writing {
    position:absolute; 
    top:50%;     
    margin-top:-6em; 
    width:100%;    
}

.topBar h1, .topBar p { 
    color: #ffffff;
    font-family: "Arial Black", Gadget, sans-serif;            
}

.topBar h1 {
    font-size: 40px;    
}

.topBar p {
    font-size: 20px;    
}
/*------------------------------------------------------*/

.btn-secondary {
    color: #black;
    background-color: #dddedf;
   }